{% extends "base.html" %}
{% block content %}

{% include "game/partials/top_stats_bar.html" with oob=False %}
{% include "game/partials/mobile_stats_bar.html" with oob=False %}

<div id="game-layout">

    <div id="left-column">
        <details class="drawer" id="drawer-character" open>
            <summary class="drawer-summary">[ CHARACTER ]</summary>
            {% include "game/partials/stats_bar.html" with oob=False %}
        </details>
        <details class="drawer" id="drawer-stash" open>
            <summary class="drawer-summary">[ STASH ]</summary>
            {% include "game/partials/inventory.html" with oob=False %}
        </details>
    </div>

    {% include "game/partials/scene_panel.html" %}

    <div id="right-column">
        <details class="drawer" id="drawer-log" open>
            <summary class="drawer-summary">[ EVENT LOG ]</summary>
            {% include "game/partials/event_log.html" with oob=False %}
        </details>
        <details class="drawer" id="drawer-territories" open>
            <summary class="drawer-summary">[ TERRITORIES ]</summary>
            {% include "game/partials/territories.html" with oob=False %}
        </details>
    </div>

</div>
<script>
(function () {
    document.body.addEventListener('htmx:responseError', function (evt) {
        var target = evt.detail && evt.detail.target;
        var xhr = evt.detail && evt.detail.xhr;
        if (!target || target.id !== 'scene-panel' || !xhr || !xhr.responseText) {
            return;
        }
        target.outerHTML = xhr.responseText;
    });
})();
</script>
{% endblock %}
